<!DOCTYPE html>
<html>

<head>
    <title>
    {% block title %}
    Hello World
    {% endblock %}
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="navbar navbar-static-top navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="{{ url_for('index') }}">Greglink</a>
            <ul class="nav">
            </ul>
        </div>
    </div>


    <div class="container-fluid">

        <div class="row-fluid">

            <div class="span3">
                <div id="tree"></div>
            </div>

            <div class="span9">

                <header>
                {% block header %}
                {% endblock %}
                </header>

                {% block content %}
                {% endblock %}

                <footer>
                {% block footer %}
                {% endblock %}
                </footer>

            </div>

        </div>

    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jstree-v.pre1.0/jquery.jstree.js"></script>
    <script type='text/javascript'>
    $(function() {
        $("#tree").jstree({
            plugins: ["themes", "json_data", "ui"],
            json_data: {
                ajax: {
                    url: "{{ url_for('jstree') }}"
                }
            }
        });
    });
    </script>
    {% block javascript %}
    {% endblock %}
</body>

</html>
