{% extends 'base.html' %}

{% block title %}
{{ testcase['title'] }}
{% endblock %}

{% block content %}

<h1>{{ testcase['title'] }}</h1>

{{ testcase['content']|safe }}

<div class="form-actions">
    <a href="{{ url_for('test_success', id=testcase['id']) }}"
        class="btn btn-success">Passed</a>
    <a href="{{ url_for('test_blocked', id=testcase['id']) }}"
        class="btn btn-warning">Blocked</a>
    <a href="{{ url_for('test_failed', id=testcase['id']) }}"
        class="btn btn-danger">Failed</a>
</div>

{% endblock %}
