{% extends 'base.html' %}

{% block title %}
Greglink
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Nom</th>
        <th>Status</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for testcase in testcases %}

            {% if testcase.status_name() == "success" %}
            <tr class="success">
            {% elif testcase.status_name() == "blocked" %}
            <tr class="warning">
            {% elif testcase.status_name() == "failed" %}
            <tr class="error">
            {% else %}
            <tr>
            {% endif %}

                <td>{{ testcase.id }}</td>
                <td>{{ testcase.title }}</td>
                <td>{{ testcase.status_name() }}</td>
                <td>
                    <a href="{{ url_for('execute_test', path=testcase.urlpath) }}">Executer</a>
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <th>Dossiers</th>
    </thead>
    <tbody>
        {% for folder in folders %}
            <tr>
                <td><a href="{{ url_for('list_tests', path=folder) }}">{{ folder }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
